@model CaptainMao.Areas.Adoption.ViewModel.Adoption_WishViewModel
@{
    ViewBag.Title = "AdoptionManage";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}
@section script
{
<script src="~/Scripts/sweetalert.min.js"></script>

    <script>
        var bool = $('#delCheck').val();
        $(document).ready(function () {
            if (bool == 'True') {
                swal({
                    title: "",
                    text: "\n刪除成功!",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonText: "確認",
                    confirmButtonClass: "btn-success",
                    closeOnConfirm: false
                })
            }
        })
    </script>

    }
@section style{
<link href="~/Content/sweetalert.css" rel="stylesheet" />

    <style>
        #search {
            background-color: yellow;
        }

        .search label {
            font-size: 20px;
        }

        .srchselect {
            width: 100px;
            font-size: 20px;
        }

        #display1 ,#display2 {
            background-color: burlywood;
            padding-top: 50px;
            margin-left:6px;
        }

            #display1 > .row > div > div {
                height: 480px;
                font-size:20px;
            }

            #display2 > .row > div > div {
                height: 350px;
                font-size:20px;
            }

            #display2 .caption {
                height:300px;
            }

            #display1 img {
                height: 250px;
            }
    </style>
}

<!--aside側欄 article主欄-->

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <input type="hidden" id="delCheck" value="@TempData["delete"]" />
    <!-------------------articleOpen------------------->
    <div>
        <div id="search" class="drawingpin">
            <h1>個人管理</h1>
        </div>

        <div id="display1" class="drawingpin">
            <h2>領養機會</h2>
            <div class="row">
                @if (ViewBag.flag1)
                {
                    foreach (var adoption in Model.adoptions)
                    {
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img src="@Url.Action("GetImage","Adoption",new { id =adoption.AdoptionID })">
                                <div class="caption">
                                    <h2>@adoption.Name</h2>
                                    <p>@adoption.Sex</p>
                                    <p>@adoption.Build</p>
                                    <div>
                                        @Html.DisplayNameFor(a => adoption.PostDate) :
                                        @Html.DisplayFor(a => adoption.PostDate)
                                    </div>
                                    <p class="pull-right">
                                        @Html.ActionLink("修改/刪除", "Edit", new { id = adoption.AdoptionID }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("詳細資料", "Details", new { id = adoption.AdoptionID }, new { @class = "btn btn-info" })
                                    </p>


                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="thumbnail col-md-offset-1 col-md-10 col-md-offset-1">
                        <h2 class="text-center">目前尚無任何資料</h2>
                    </div>
                }
            </div>
        </div>
        <div id="display2" class="drawingpin">
            <h2>領養心願</h2>
            <div class="row">
                @if (ViewBag.flag2)
                {
                    foreach (var wish in Model.wishs)
                    {
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>@Html.DisplayNameFor(a => wish.WishID) : @Html.DisplayFor(a => wish.WishID)</h2>
                                    <p>@Html.DisplayNameFor(a => wish.CategoryID) : @Html.DisplayFor(a => wish.Category.CategoryName)</p>
                                    @if (wish.Sex != null)
                                    {
                                        <p>@Html.DisplayNameFor(a => wish.Sex) : @Html.DisplayFor(a => wish.Sex)</p>
                                    }
                                    @if (wish.Build != null)
                                    {
                                        <p>@Html.DisplayNameFor(a => wish.Build) : @Html.DisplayFor(a => wish.Build)</p>
                                    }
                                    @if (wish.Age != null)
                                    {
                                        <p>@Html.DisplayNameFor(a => wish.Age) : @Html.DisplayFor(a => wish.Age)</p>
                                    }
                                    @if (wish.Hair != null)
                                    {
                                        <p>@Html.DisplayNameFor(a => wish.Hair) : @Html.DisplayFor(a => wish.Hair)</p>
                                    }
                                    <p>@Html.DisplayNameFor(a => wish.CityID) : @Html.DisplayFor(a => wish.City.CityName)</p>
                                </div>
                                <div class="pull-right">
                                    @Html.ActionLink("修改/刪除", "EditWish", new { id = wish.WishID }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("查看配對", "WishJoin", "Adoption", new { id = wish.WishID }, new { @class = "btn btn-info" })
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="thumbnail col-md-offset-1 col-md-10 col-md-offset-1">
                        <h2 class="text-center">目前尚無任何資料</h2>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>



