<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> 購買流程</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("個人管理", "AdoptionManage")</li>
        <li class="list-group-item">@Html.ActionLink("領養列表", "Index")</li>
        <li class="list-group-item">@Html.ActionLink("尋找新主人", "CreateAdoption")</li>
        <li class="list-group-item">@Html.ActionLink("領養心願", "AdoptionWish")</li>
        <li class="list-group-item">@Html.ActionLink("新增心願", "CreateAdpWish")</li>
        <li class="list-group-item">@Html.ActionLink("聊天測試", "Chat", "Control")</li>
    </ul>
</div>

