@model CaptainMao.Models.Adoption
@{
    ViewBag.Title = "CreateAdoption";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<!--aside側欄 article主欄-->
@section style{
    <style>
        #frm{
            font-size:18px;
        }
        button{
            width:100px;
        }
    </style>
    }

@section script{
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#demo').click(function () {
                $('#Name').val('吉米');
                $('#Sex').val('公');
                $('#CategoryID').val(6);
                $('#Build').val('小型');
                $('#Age').val('幼年');
                $('#CityID').val(2);
                $('#Hair').val('黑白');
                $('#Description').val('我叫吉米，是出生剛滿5個月的小刺蝟，最近在找新家，想知道我的資訊的話，歡迎來聯絡我喔!');
                //蜜袋鼯


            })

        })
    </script>
    }
<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div class="thumbnail drawingpin">
        <h2>新增領養機會</h2>
        <div class="row">
            <div class="col-md-8">
                @using (Html.BeginForm("CreateAdoption", "Adoption", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id="frm" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(a => a.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(a => a.Name, new { HtmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Sex, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(a => a.Sex, new { HtmlAttributes = new { @class = "form-control", placeholder = "Sex" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.CategoryID, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @{
                                var categories = new SelectList(ViewBag.Category, "CategoryID", "CategoryName");
                            }
                            @Html.DropDownListFor(a => a.CategoryID, categories, "請選擇", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Build, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(a => a.Build, new { HtmlAttributes = new { @class = "form-control", placeholder = "Build" } })
                            @Html.ValidationMessageFor(m => m.Build, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Age, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(a => a.Age, new { HtmlAttributes = new { @class = "form-control", placeholder = "Age" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.CityID, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @{
                                var cities = new SelectList(ViewBag.City, "CityID", "CityName");
                            }
                            @Html.DropDownListFor(a => a.CityID, cities, "請選擇", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CityID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Hair, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(a => a.Hair, new { HtmlAttributes = new { @class = "form-control", placeholder = "Hair" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(a => a.Description, new { HtmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.PetImage, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(a => a.PetImage, new { HtmlAttributes = new { type = "file", @class = "form-control", placeholder = "Product Image" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary">新增</button>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <button type="button" class="btn btn-info" id="demo">DEMO</button>
                        </div>
                    </div>
                                }

            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
    <!-------------------articleEnd------------------->
</article>

