@model IPagedList<CaptainMao.Models.Adoption>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

@section style{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>

        #search{
            background-color:yellow;   
            padding:10px;
            font-size:20px
        }

        #search button{
            width:100px;
            margin:10px;
            font-size:20px
        }


        #display{
            background-color:burlywood;
            padding-top:50px;
        }

        #display > .row > div > div {
            height: 480px;
            font-size:20px;
        }

        #display img {
            height: 250px;
        }

        .petName{
             overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
}

@section script{
    <script src="~/js/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#txtsearch').change(function () {
                var txt = $(this).val();

                $('#searchStart').attr("href", function () {
                    var url = $(this).attr("href");
                    var cateid = "@Request.QueryString["categoryid"]";
                    var cityid = "@Request.QueryString["cityid"]";
                    if (cateid == "" && cityid == "") {
                        var result = url + "?search=" + txt;
                    }
                    else {
                        var result = "/Adoption/Adoption?categoryid=" + cateid + "&cityid=" + cityid + "&search=" + txt;
                    }
                    return result;
                });
            });
            

            $(document).on('click', '.email', function (e) {
                e.preventDefault();
                var dialog = $("#dialog-confirm");
                dialog.attr("style", "visibility:visible;");
                var targerUrl = $(this).attr('href');

                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true
                }).dialog({
                    buttons: {
                        '確定': function () {
                            window.location.href = targerUrl;
                        },
                        '取消': function () {
                            $(this).dialog('close');
                        }
                    }
                })

            })

            $('#cancel').click(function () {
                $("#dialog-confirm").dialog("close");
            })
        });
    </script>

    }

<!--aside側欄 article主欄-->

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div>
        <div id="search" class="drawingpin">
            <div class="row">
                <div class="col-md-12"><h2>條件搜尋</h2></div>
                <div class="col-md-6">
                    <button class="btn btn-default" id="CateSearch" data-target="#cateSearch" data-toggle="modal">
                        @if (ViewBag.category != null)
                        {
                            @ViewBag.category
                        }
                        else
                        {
                            @:寵物類別
                }
                    </button>
                    <button class="btn btn-default" id="CitySearch" data-target="#citySearch" data-toggle="modal">
                        @if (ViewBag.city != null)
                        {
                            @ViewBag.city
                        }
                        else
                        {
                            @:居住城市
                }
                    </button>
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("Index", "Adoption", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <label for="txtsearch" class="control-label">關鍵字搜尋: </label>
                        <input type="text" id="txtsearch" name="txtsearch" />
                        <a href=@Url.Action("Index","Adoption",new { search = "", categoryid = Request.QueryString["categoryid"], cityid = Request.QueryString["cityid"] }) id="searchStart" class="btn btn-default">搜尋</a>
                    }
                </div>
            </div>
        </div>
        <br />

        <div id="display" class="drawingpin">
            <div class="row">
                @foreach (var adoption in Model)
                {
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="@Url.Action("GetImage","Adoption",new { id =adoption.AdoptionID })">
                            <div class="caption">
                                <h2 class="petName">@adoption.Name</h2>
                                <p>@adoption.Sex</p>
                                <p>@adoption.Build</p>
                                <div class="pull-left">
                                    @Html.DisplayNameFor(a => adoption.PostDate) :
                                    @Html.DisplayFor(a => adoption.PostDate)
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-success getchat" data-id="@adoption.AspNetUser.Id" data-name="@adoption.AspNetUser.NickName" data-img="@Url.Action("GetUserImage","Adoption",new { id =adoption.AspNetUser.Id })">來聯絡我</a>
                                    @Html.ActionLink("我要領養", "Email", new { id =adoption.AdoptionID }, new { @class = "btn btn-primary email", id = "sendEmail" })
                                    @Html.ActionLink("詳細資料", "Details", new { id = adoption.AdoptionID }, new { @class = "btn btn-info" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="text-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, categoryid = Request.QueryString["categoryid"], cityid = Request.QueryString["cityid"], search = Request.QueryString["search"] }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>

@*寵物種類搜尋*@
<div class="modal fade" id="cateSearch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">寵物類別</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Categories", "Control")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@*居住地搜尋*@
<div class="modal fade" id="citySearch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">居住都市</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Cities", "Control")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div id="dialog-confirm" title="您確定要領養這隻寵物?" style="visibility:hidden;">
    <p><span class="ui-icon ui-icon-check" style="float:left; "></span>點選確定後，我們會幫您通知這隻寵物的主人，您確定要領養嗎?</p>

</div>
