@using CaptainMao.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '313803012391050',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

<h2 style="text-align:center">
    <span class="fa fa-lg fa-user"></span>
</h2>
<h2 style="text-align:center">@ViewBag.Title</h2>
<div class="row">
    <div class="main">
        <h3>透過社群網站登入</h3>
        <div class="row">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
        <div class="login-or">
            <hr class="hr-or" />
            <h3>使用本站帳戶登入。</h3>
        </div>
        <section id="loginForm">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <div class="g-recaptcha" data-sitekey="6LcbsiMUAAAAAO1rjMrn5by9JjY6a4ob_rKrTjbZ"></div>
                            @if (ViewBag.CaptchaErrorMessage != null)
                            {
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    @ViewBag.CaptchaErrorMessage
                                </div>
                            }
                        </div>
                        @*為了demo方便，增加一個checkbox，用來繞過reCaptcha*@
                        <div class="col-md-4">
                            <input type="checkbox" name="bypass" id="bypass" title="跳過reCaptcha驗證" />跳過reCaptcha驗證
                        </div>
                    </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <input type="submit" value="登入" class="btn btn-lg btn-info" />
                                </div>
                                <div class="col-md-offset-1 col-md-7">
                                    <button class="btn btn-default" onclick="login('admin@mao.com','qqq123' )">管理員登入</button>
                                    <button class="btn btn-default" onclick="login('store1@mao.com','qqq123' )">商家1登入</button>
                                    <button class="btn btn-default" onclick="login('store2@mao.com','qqq123' )">商家2登入</button>
                                    <button class="btn btn-default" onclick="login('normal@mao.com','qqq123' )">一般會員登入</button>
                                    <button class="btn btn-default" onclick="login('badguy@mao.com','qqq123' )">壞人登入</button>
                                    <button class="btn btn-default" onclick="login('normal@mao.com','qqq111' )">錯誤嘗試登入</button>
                                    <button class="btn btn-default" onclick="login('iop1x71@gmail.com','iop852741' )">威廷登入</button>
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("註冊為新使用者", "Register")
                            </p>
                            <p>
                                @Html.ActionLink("忘記密碼?", "ForgotPassword")
                            </p>
            }
        </section>
    </div>
</div>


@section Script {
    @Scripts.Render("~/bundles/jqueryval")
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>

        function login(email, pw) {
            $('#Email').val(email);
            $('#Password').val(pw);
        $('#bypass').prop("checked", true)

        }



    </script>
    

}