@model CaptainMao.Areas.Article.Models.BoardViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "討論區";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

@section script{
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $.ajax({
                    url: '@Url.Action("HighPop")',
                    type: 'Get',
                    dataType: 'json',
                    success: SetValue
                });
            });
            var tu = $('#tb');
            tu.empty;
            var f = $(document.createDocumentFragment());
            function SetValue(data) {
                $.each(data, function (index, value) {
                    var t1 = $('<td></td>').html('<a href="@Url.Action("Show")/?articleID=' + value.ArticleID + '"><h4 style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" class="title">' + value.Title + '</h4></a>');
                    var row = $('<tr></tr>').append(t1);
                    f.append(row);
                })
                tu.append(f);
            };
            $('#tb').on('click', '.a', function () {

            })
        })
    </script>
    }
@section style{
    <style>
        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .card{
            font-size:1em;
            overflow:hidden;
            padding:0;
            border:none;
            border-radius:.28571429rem;
            box-shadow:0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
        }
        .card-block{
            font-size:1em;
            position:relative;
            margin:0;
            padding:1em;
            border:none;
            border-top:1px solid rgba(34,36,38,.1);
            box-shadow:none;
        }
        .card-img-top{
            display:block;
            width:100%;
            height:150px;
        }
        .card-title{
            font-size:1.28571429em;
            font-weight:700;
            line-height:1.2857em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .meta{
            font-size:1em;
            color:rgba(0,0,0,.4);
        }
        .meta h4{
            text-decoration:none;
            color:rgba(0,0,0,.4);
        }
        .meta h4:hover{
            color:rgba(0,0,0,.87);
        }
    </style>
    }
<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div>
        <!--顏色請自己放在Css內 這只是樣板-->
        <div style="height:70px;background-color:#fff266" class="drawingpin">
            <div class="navbar-left">
                @Html.ActionLink("主版", "Board", null, new { @class = "btn btn-info" })
                @Html.ActionLink("文章列表", "Index", null, new { @class = "btn btn-info" })
            </div>
            <div class="navbar-right">
                @{
                    string MsID = "";
                    string id = "";
                    foreach (var item in Model.board)
                    {
                        MsID = item.MasterUserID;
                        id = User.Identity.GetUserId();
                        if (id == MsID)
                        {
                            <a href="@Url.Action("Master","Article",new { area="Article"})" class="btn btn-primary  glyphicon glyphicon-pencil">版主</a>
                        }
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div style="background-color:burlywood" class="drawingpin">
                    <h2>高人氣文章</h2>
                    <div class="row">
                        @foreach (var item in Model.article)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <a href="@Url.Action("Show","Article",new { area="Article",articleID=@item.ArticleID})"><img class="card-img-top" src="@Html.DisplayFor(a=>item.ContentText)" /></a>
                                    <div class="card-block">
                                        <a href="@Url.Action("Show","Article",new { area="Article",articleID=@item.ArticleID})"><h4 class="card-title" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">[@Html.DisplayFor(a => item.TitleCategory.TitleCategoryName)]@Html.DisplayFor(a => item.Title)</h4></a>
                                        <div class="meta">
                                            <h4>瀏覽人數 ： @Html.DisplayFor(a => item.Number)</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div style="background-color:burlywood" class="drawingpin">
                    <div class="highPop">
                        <table>
                            <thead>
                                <tr>最新發表</tr>
                            </thead>
                            <tbody id="tb">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>