@model CaptainMao.Models.Article
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "討論區";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

@section script{
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        $(function () {
            CKEDITOR.replace('content', {
                toolbar: 'Custom',
                skin: "bootstrapck",
                filebrowserImageBrowseUrl: "@Url.Action("CKEditorImageFileManager", "Article")"
            });
            $('#valiCode').bind('click', function () {
                this.src = "GetValidateCode?&time=" + (new Date()).getTime();
            })
            $('#demo').click(function () {
                $('.boardid').val(1);
                $('.titlecateid').val(3);
                $('.title').val('我喜歡動物!');
                CKEDITOR.instances.content.setData('<p style="text-align: center;"><img alt="" src="http://maoup.com.tw/wp-content/uploads/2017/03/170307-1.png" style="width: 400px; height: 300px;" /></p><br/><p style="text-align: center;"><span style="font-size:14px;">呼～天氣冷颼颼，趕快讓毛孩洗個舒服的熱水澡&epsilon;٩(๑&gt; ₃ &lt;)۶з且慢！你知道狗狗貓貓洗澡的水溫不能太高嗎？洗澡水溫如果太高，反而可能讓毛孩的皮膚越洗越糟糕(((ﾟДﾟ;)))毛起來這就來說分明！</span></p>');
            })
        });
    </script>
    }
@section style{
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    }

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div>
        <!--顏色請自己放在Css內 這只是樣板-->
        <div style="height:70px;background-color:#fff266" class="drawingpin">
            <div class="list-group navbar-left">
                @Html.ActionLink("主版", "Board", null, new { @class = "btn btn-info glyphicon glyphicon-home" })
                @Html.ActionLink("文章列表", "Index", null, new { @class = "btn btn-info glyphicon glyphicon-th-list" })
            </div>
        </div>
        <div style="background-color:burlywood" class="drawingpin">
            @using (Html.BeginForm("Create", "Article", FormMethod.Post))
            {
                MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                exampleCaptcha.CodeLength = 4;

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.BoardID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @{
                                var boardcategories = new SelectList(ViewBag.datas2, "BoardID", "BoardName");
                            }
                            @Html.DropDownListFor(c => c.BoardID, boardcategories, "請選擇", htmlAttributes: new { @class = "form-control boardid" })
                            @Html.ValidationMessageFor(model => model.BoardID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TitleCategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @{
                                var titlecategories = new SelectList(ViewBag.datas, "TitleCategoryID", "TitleCategoryName");
                            }
                            @Html.DropDownListFor(c => c.TitleCategoryID, titlecategories, "請選擇", htmlAttributes: new { @class = "form-control titlecateid" })
                            @Html.ValidationMessageFor(model => model.TitleCategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control title", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContentText, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ContentText, new { htmlAttributes = new { @class = "form-control content", autocomplete = "off", id = "content", @name = "content" } })
                            @Html.ValidationMessageFor(model => model.ContentText, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.Captcha(exampleCaptcha)
                            <br />
                            <label>請輸入驗證碼</label>
                            @Html.TextBox("CaptchaCode", null, new { placeholder = "請輸入驗證碼" })
                            @Html.ValidationMessage("CaptchaCode")
                            @{
                                if (Request.HttpMethod == "Post" && ViewData.ModelState.IsValid)
                                {
                                    <span class="correct">Correct!</span>
                                }
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="送出" class="btn btn-default" />
                            <input type="button" class="btn btn-primary" id="demo" value="Demo" />
                        </div>
                    </div>
                </div>
                                }
            <div>
                <a href="#" onclick="javascript:history.back()" class="btn btn-primary glyphicon glyphicon-arrow-left">回上一頁</a>
            </div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>

