@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CaptainMao.Models.Article>

@{
    ViewBag.Title = "討論區";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div>
        <!--顏色請自己放在Css內 這只是樣板-->
        <div style="height:70px;background-color:#fff266" class="drawingpin">
            <div class="navbar-left">
                @Html.ActionLink("主版", "Board", null, new { @class = "btn btn-info" })
                @Html.ActionLink("文章列表", "Index", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div style="background-color:burlywood" class="drawingpin">
            <div class="navbar-left">
                @Html.Action("BoardCategories")
            </div>
            <table class="table table-bordered table-hover" id="articletable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(a => a.First().TitleCategoryID)</th>
                        <th>@Html.DisplayNameFor(a => a.First().BoardID)</th>
                        <th>@Html.DisplayNameFor(a => a.First().Title)</th>
                        <th>@Html.DisplayNameFor(a => a.First().PosterID)</th>
                        <th>@Html.DisplayNameFor(a=>a.First().Comment.First().CommentID) / @Html.DisplayNameFor(a => a.First().Number)</th>
                        <th>@Html.DisplayNameFor(a => a.First().LastChDateTime)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="tb">
                            <td><a href="@Url.Action("Index","Article",new { area="Article", titleCategoryID = @item.TitleCategoryID })">@Html.DisplayFor(a => item.TitleCategories.TitleCategoryName)</a></td>
                            <td>@Html.DisplayFor(a => item.Board.BoardName)</td>
                            <td>
                                <a href="@Url.Action("Show","Article",new { area="Article",articleID=@item.ArticleID})" >@Html.DisplayFor(a => item.Title)</a>
                            </td>
                            <td>@Html.DisplayFor(a => item.PosterID)</td>
                            <td>@Html.DisplayFor(a=>item.Comment.Count) / @Html.DisplayFor(a => item.Number)</td>
                            <td>@Html.DisplayFor(a=>item.LastChDateTime)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, titleCategoryID = Request.QueryString["titleCategoryID"], boardID = Request.QueryString["boardID"] }), new PagedListRenderOptions
           {
               LinkToFirstPageFormat = "<< 第一頁",
               LinkToPreviousPageFormat = "< 前一頁",
               LinkToNextPageFormat = "下一頁 >",
               LinkToLastPageFormat = "最末頁 >>",
               DisplayLinkToFirstPage = PagedListDisplayMode.Always,
               DisplayLinkToLastPage = PagedListDisplayMode.Always,
               DisplayLinkToPreviousPage=PagedListDisplayMode.Always,
               DisplayLinkToNextPage=PagedListDisplayMode.Always
           })
            </div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>


