@model CaptainMao.Areas.Article.Models.CommentViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "討論區";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}
@section script{
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('.Del').on('click', function (e) {
                e.preventDefault();
                var targerUrl = $(this).attr('href');
                $('#dialogForm').dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                }).dialog({
                    buttons: {
                        '確定': function () {
                            window.location.href = targerUrl;
                        },
                        '取消': function () {
                            $(this).dialog('close');
                        }
                    }
                })
            })
        })
    </script>
}
<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Partial("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <!-------------------articleOpen------------------->
    <div>
        <!--顏色請自己放在Css內 這只是樣板-->
        <div style="height:70px;background-color:#fff266" class="drawingpin">
            <div class="list-group navbar-left">
                @Html.ActionLink("主版", "Board", null, new { @class = "btn btn-info" })
                @Html.ActionLink("文章列表", "Index", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-lg-9">
                <div class="col-lg-12">
                    <div style="background-color:burlywood" class="drawingpin">
                        <div class="row">
                            <h2>[@Html.DisplayFor(model => model.article.First().TitleCategory.TitleCategoryName)]@Html.DisplayFor(model => model.article.First().Title)</h2>
                            <h3>@Html.DisplayFor(model => model.article.First().AspNetUser.NickName)</h3>
                            <div class="text-right">
                                <h5>@Html.DisplayNameFor(model => model.article.First().CreateDateTime) : @Html.DisplayFor(model => model.article.First().CreateDateTime)</h5>
                            </div>
                            <div class="thumbnail">
                                <p>@Html.Raw(HttpUtility.HtmlDecode(Model.article.First().ContentText))</p>
                            </div>
                            <div>
                                <p class="navbar-left">
                                    <a href="#" onclick="javascript:history.back()" class="btn btn-primary glyphicon glyphicon-arrow-left">回上一頁</a>
                                </p>
                                <p class="navbar-right">
                                    <a href="@Url.Action("Comment","Article",new { area="Article",articleID=Model.article.First().ArticleID})" class="btn btn-warning  glyphicon glyphicon-pencil">回覆</a>
                                    @*@Html.ActionLink("回覆", "Comment", new { articleID = Model.article.First().ArticleID }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })*@
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @foreach (var item in Model.comment)
                        {
                            <div style="background-color:burlywood" class="drawingpin">
                                <div>
                                    <h3>@item.AspNetUser.NickName</h3>
                                </div>
                                <div class="text-right">
                                    <h5>@Html.DisplayNameFor(a => a.comment.First().NewDateTime) : @item.NewDateTime</h5>
                                </div>
                                <div class="thumbnail">
                                    <p>@Html.Raw(HttpUtility.HtmlDecode(@item.ContentText))</p>
                                </div>
                                <div class="text-right">
                                    @{
                                        string id = User.Identity.GetUserId();
                                        string posterid = item.PosterID;
                                        if (id == posterid)
                                        {
                                            @Html.ActionLink("修改", "EditComment", new { commentID = item.CommentID }, new { @class = "btn btn-info glyphicon glyphicon-pencil" }) @Html.ActionLink("刪除", "DelComment", new { commentID = item.CommentID }, new { @class = "btn btn-danger glyphicon glyphicon-remove Del" })
                                        }
                                    }
                                </div>
                            </div>
                          }
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div style="background-color:burlywood" class="drawingpin">

                </div>
            </div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>
<div id="dialogForm" title="確認刪除">
    <p>您確定要刪除嗎？</p>
</div>





