@model CaptainMao.Areas.buy.ViewModel.vmShoppingCar_Mer
@{
    ViewBag.Title = "Main";
}
@section style{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
<link href="~/Areas/buy/css/shoppingcart.css" rel="stylesheet" />
<link href="~/Areas/buy/css/sweetalert.css" rel="stylesheet" />
    <style>
            html, body{
                height: 100%;
                }

        article > div > div {
        margin:100vh 0;
        min-width:600px;
        
        }
    </style>
}
<!--aside側欄 article主欄-->
<span ng-app="MaoApp" ng-controller="MainController">
    <aside class="col-lg-1 col-lg-offset-1 col-sm-1">
        <!-------------------asideOpen------------------->
        @Html.Action("Aside")
        <!-------------------asideEnd------------------->
    </aside>
    <article class="col-lg-9 col-sm-11">
        <!-------------------articleOpen------------------->
        <div class="col-lg-12">
            <!--顏色請自己放在Css內 這只是樣板-->
            <div name="div1" style="background-color:#fff266" class="drawingpin">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="info">
                            <th class="col-lg-2">@Html.DisplayNameFor(c => c.Store_Name)</th>
                            <th class="col-lg-2">@Html.DisplayNameFor(c => c.Merchandise_ID)</th>
                            <th class="col-lg-2">@Html.DisplayNameFor(c => c.Merchandise_Name)</th>
                            <th class="col-lg-2">@Html.DisplayNameFor(c => c.Merchandise_Photo)</th>
                            <th class="col-lg-1">@Html.DisplayNameFor(c => c.Merchandise_Price)</th>
                            <th class="col-lg-3">
                                <div class="col-lg-5">@Html.DisplayNameFor(c => c.merchandise_Volume)</div>
                                <div class="col-lg-5">總價</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="warning" ng-repeat="item in items">
                            <td class="col-lg-2"><span class="ng-hide">{{item.cartID}}</span> {{item.Store_Name}} </td>
                            <td class="col-lg-2">{{ item.Merchandise_ID}}</td>
                            <td class="col-lg-2">{{item.Merchandise_Name}}</td>

                            <td class="col-lg-2" ng-if="item.Merchandise_Photo != null "> <img ng-src="data:image/JPEG;base64,{{item.Merchandise_Photo}}" height="80" width="80" class="img-circle" /></td>
                            <td class="col-lg-2" ng-if="item.Merchandise_Photo == null "> <img ng-src="{{item.Merchandise_Photo_Address}}" height="80" width="80" class="img-circle" /></>
                            <td class="col-lg-1">{{item.Merchandise_Price }}</td>
                            <td class="col-lg-3">
                                <div class="col-lg-5">@Html.EditorFor(c => c.merchandise_Volume, new { htmlAttributes = new { ng_model = "item.merchandise_Volume", max = 100, min = 1, ng_change = "myFunchang(item)" } })</div>
                                <div class="col-lg-5"> {{item.merchandise_Volume*item.Merchandise_Price}}  <span ng-click="myFunDelete(item)" class="btn btn-danger glyphicon glyphicon-remove"></span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary">總計:{{getTotal()}}  下一步</button>
            </div>

            <span name="div2"></span>
            <div id="divMap" style="background-color:burlywood" class="drawingpin">
                <div class="row">
                    <div class="panel  panel-primary col-lg-5">
                        @{
                        SelectList select = new SelectList(ViewBag.city, "CityID", "CityName");
                        }
                        <div class="page-header">請選擇預定寄貨縣市 @Html.DropDownList("Citys", select)</div>
                        <ul id="cityselect" class="panel-body"></ul>
                        您預計送達的商店為:<div class="UserAddress"></div>
                    </div>

                    <div class="col-lg-7">
                        <iframe id="cityMap" frameborder='0' scrolling='no' marginheight='0' marginwidth='0'
                                src='https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=台北市新生南路三段90號&z=16&output=embed&t='></iframe>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary pull-right">下一步</button>
                </div>
            </div>


            <div name="div3" style="height:700px;background-color:#ffbe86" class="drawingpin">
                @using (Html.BeginForm("CreateOrder", "ShoppingCart", FormMethod.Get, new { @class = "form-horizontal" }))
            {
            <div class="col-lg-4">
                <div>請輸入取貨人姓名:</div>
                <input name="name" />
            </div>
            <div class="col-lg-8">
                <div>確認地址</div>
                <label readonly="readonly" class="UserAddress"></label>
                <input name="FourStore" type="hidden" id="UserAddressID" />
            </div>
            <div>您的商品</div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-2">@Html.DisplayNameFor(c => c.Store_Name)</th>
                        <th class="col-lg-2">@Html.DisplayNameFor(c => c.Merchandise_ID)</th>
                        <th class="col-lg-2">@Html.DisplayNameFor(c => c.Merchandise_Name)</th>
                        <th class="col-lg-1">@Html.DisplayNameFor(c => c.Merchandise_Price)</th>
                        <th class="col-lg-3">
                            <div class="col-lg-5">@Html.DisplayNameFor(c => c.merchandise_Volume)</div>
                            <div class="col-lg-5">總價</div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in items">
                    <tr>
                        <td class="col-lg-2"><span class="ng-hide">{{item.cartID}}</span> {{item.Store_Name}} </td>
                        <td class="col-lg-2">{{ item.Merchandise_ID}}</td>
                        <td class="col-lg-2">{{item.Merchandise_Name}}</td>
                        <td class="col-lg-1">{{item.Merchandise_Price }}</td>
                        <td class="col-lg-3">
                            <div class="col-lg-5">{{item.merchandise_Volume}}</div>
                            <div class="col-lg-5"> {{item.merchandise_Volume*item.Merchandise_Price}} </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="送出訂單" class="btn btn-primary" />
            }
            </div>
        </div>
        <!-------------------articleEnd------------------->
    </article>
</span>


@section script
        {
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src='@Url.Content("~/Areas/buy/js/sweetalert.min.js")'></script>
<script src='@Url.Content("~/Areas/buy/js/ShoppingCart.js")'></script>

    <script>

            var app = angular.module('MaoApp', []);
            app.controller('MainController',function ($scope, $http) {
                //抓訂單實體網址
                var httpurl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "PublicAPI" }, "https")';
                loadData();
                //初始設定
                function loadData() {
                    $http.get(httpurl).then(function (response) {
                        if (response.data.length > 0) {
                            $scope.items = response.data;
                        }
                        else {
                            var u = '@Url.RouteUrl("buy_default", new {controller = "Shopping",area="buy"}, "https")';
                            sweetAlert("目前尚無商品，確認後回到購物首頁");
                            location.href = u;
                        }
                    });
                }
                //更換儲存
                $scope.myFunchang = function (item) {
                    $http.put(httpurl, item).then(function () {
                        $scope.shopps = "";
                        loadData();
                    })
                }
                //刪除
                $scope.myFunDelete = function (item) {
                    swal({
                        title: "確定取消此商品",
                        text: "您將會取消購買這樣商品",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "刪除",
                        cancelButtonText:"取消",
                        closeOnConfirm: false
                    },
                function () {
                    swal("成功!", "您已取消購買此商品", "success");

                    $http.delete(httpurl + "/" + item.cartID).then(function () {
                        $scope.shopps = "";
                        loadData();
                    });

                })
                }
                //總計
                $scope.getTotal = function () {
                    var total = 0;
                    for (var i = 0; i < $scope.items.length; i++) {
                        var product = $scope.items[i];
                        total += (product.Merchandise_Price * product.merchandise_Volume);
                    }
                    return total;
                }
            });

    </script>
}


