<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-tc.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-tc.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-tc.theme.min.css" rel="stylesheet" />
    @RenderSection("style", required: false)
    <style>
        body{
            font-family:'微軟正黑體', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand" href="#"><strong>網站管理者介面 </strong></p>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("回網站首頁 ", "Index", "CaptainMao", new { area = "" })
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">會員管理 <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                            <li role="presentation">@Html.ActionLink("一般會員管理", "Index", "NormalUser", new { area = "Admin" })</li>
                            <li role="presentation">
                                <a href="#">商店會員管理</a>
                            </li>
                            <li role="presentation">
                                <a href="#">權限設置</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">網站管理 <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                            <li role="presentation">
                                <a href="#">討論版管理</a>
                            </li>
                            <li role="presentation">
                                <a href="#">商城管理</a>
                            </li>
                            <li role="presentation">
                                <a href="#">網站監控</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>


    <div class="container-fluid" style="margin:0 0 50px 0;">
        <div class="row">

            <div class="col-md-12">
                <div class="container body-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-tc.min.js"></script>

    @RenderSection("script", required: false)

</body>
</html>