@model CaptainMao.Areas.buy.ViewModel.vmCa_Mer_stype
@{
    ViewBag.Title = "建立新資料";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}
@section style{
<link href="~/Areas/buy/css/StoreCreate.css" rel="stylesheet" />
    <style>
        #Merimg {
            width:100%;
            border-radius:30px;
            border:none;
        }

        .drawingpin:nth-child(2) {
            margin-top:10px;   
        }
    </style>
    }

<!--aside側欄 article主欄-->

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Action("Aside")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">

    <!-------------------articleOpen------------------->
    @if (ViewBag.notMer != null)
    {
        <span>很抱歉找不到商品！！！</span>
    }
    else
    {

        using (Html.BeginForm((string)@ViewBag.Form, "Store", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="col-sm-5">
                <div class="drawingpin">
                    <img id="Merimg" alt="圖片" src='@Url.Action("PixbyID", "zPublicFunction", new { id = Model._Merchandise.Merchandise_ID })' />
                </div>
                <div class="drawingpin">
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.EditorFor(c => c._Merchandise.Merchandise_Description, new { htmlAttributes = new { placeholder = "請輸入描述", @class = "form-control", id = "textarea1" } })
                            @Html.ValidationMessageFor(c => c._Merchandise.Merchandise_Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="drawingpin col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(c => c._Merchandise.Merchandise_Photo, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-9">
                        <input class="form-control" type="file" placeholder="請選擇圖片" name="photo" id="photo" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c._Merchandise.Merchandise_Name, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(c => c._Merchandise.Merchandise_Name, new { htmlAttributes = new { placeholder = "請輸入商品名稱", @class = "form-control" } })
                        @Html.ValidationMessageFor(p => p._Merchandise.Merchandise_Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(c => c._Merchandise.Merchandise_Creatdate)
                    @Html.HiddenFor(c => c._Merchandise.Merchandise_ID)
                    @Html.HiddenFor(c => c._Merchandise.Merchandise_Photo)

                    <div>
                        @Html.LabelFor(c => c._Category.First().CategoryName, new { @class = "col-sm-2 control-label" })
                    </div>
                    <div class="col-sm-6">
                        @{
                            SelectList select = new SelectList(Model._Category, "CategoryID", "CategoryName");
                        }
                        @Html.DropDownListFor(c => c._Merchandise.CategoryID, select, new { @class = "form-control", id = "_Category" })
                    </div>
                    @Html.LabelFor(c => c._Merchandise.Merchandise_Fitness, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-1">
                        @Html.EditorFor(c => c._Merchandise.Merchandise_Fitness, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        @Html.LabelFor(c => c._Merchandise.Merchandise_Price, new { @class = "col-sm-2 control-label" })
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(c => c._Merchandise.Merchandise_Price, new { htmlAttributes = new { placeholder = "請輸入金額", @class = "form-control" } })
                        @Html.ValidationMessageFor(c => c._Merchandise.Merchandise_Price)
                    </div>
                </div>

                <div class="form-group" id="checkboxlist">
                    @*判斷是否重複*@
                    @{string typeName = "";}
                    @foreach (var x in @Model._sType)
                    {
                        if (x.Type.Type_Name != typeName)
                        {
                            typeName = x.Type.Type_Name;<hr />
                            @Html.LabelFor(c => x.Type.Type_Name, x.Type.Type_Name, new { @class = "col-sm-2  control-label" })
                        }
                        <label>
                            <input type="checkbox" name="sType_ID" value=@x.sType_ID />
                            @x.sType_Name
                        </label>
                    }
                </div>
                @Html.ValidationMessageFor(c => c.sType_ID)
                @{
                    var stringX = @ViewBag.Form == "Create" ? "建立" : "修改";
                }
                <button type="submit" class="pull-right btn btn-primary">@stringX</button>

            </div>

        }
   }
    <!-------------------articleEnd------------------->
</article>









@section script{
    @if(Model.sType_ID.Length>0 ){
        for (int x = 0; x < Model.sType_ID.Length; x++)
        {
        <script>
            $("#checkboxlist :checkbox[value="+@Model.sType_ID[x]+"]").prop("checked", true);
        </script>
        }
    }

<script>console.log(@ViewBag.Message)</script>
<script src="~/Areas/buy/js/storeCreateIndex.js"></script>
<script src="~/Areas/buy/js/jquery.validate.js"></script>
<script src="~/Areas/buy/js/jquery.validate.unobtrusive.js"></script>
}