@model IEnumerable<CaptainMao.Areas.buy.ViewModel.vmNewOrder>
@{

    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}
@section style{
    <style>
        article {
            text-align:center;
        } 
        article .panel-heading {
            height: 30px;
        }
        article .panel-body {
            cursor: pointer;
            padding-top: 0px;
            padding-bottom: 0px;
        }

    </style>    
}
@section script{
    <script>
        $(document).ready(function () {
            $('.panel-body > .row').click(function () {
                if ($(this).next().is(":hidden")) {
                    $(this).next().slideDown();
                } else {
                    $(this).next().slideUp();
                }
            });
        })
    </script>
    }
<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Action("Aside", "Store")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">

    <!-------------------articleOpen------------------->
    <div class="col-lg-12">
        <div style="background-color:#fff266;" class="drawingpin">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="col-lg-2">@Html.DisplayNameFor(c => c.First().Order_ID)</span>
                    <span class="col-lg-2">@Html.DisplayNameFor(c => c.First().Order_Fitness)</span>
                    <span class="col-lg-2">@Html.DisplayNameFor(c => c.First().user_ID)</span>
                    <span class="col-lg-4">@Html.DisplayNameFor(c => c.First().BranchAddress)</span>
                    <span class="col-lg-2">@Html.DisplayNameFor(c => c.First().DeliveryName)</span>
                </div>
                <div class="panel-body">
                    @foreach (var _model in Model)
                    {
                        <div class="row" style="background-color:blanchedalmond" >
                            <div class="col-lg-2">@Html.DisplayFor(c => _model.Order_ID)</div>
                            <div class="col-lg-2">@Html.DisplayFor(c => _model.Order_Fitness)</div>
                            <div class="col-lg-2">@Html.DisplayFor(c => _model.user_ID)</div>
                            <div class="col-lg-4">@Html.DisplayFor(c => _model.BranchAddress)</div>
                            <div class="col-lg-2">@Html.DisplayFor(c => _model.DeliveryName)</div>
                        </div>
                        <div style="display:none">

                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2">@Html.DisplayNameFor(c => c.mer.First().Merchandise_ID)</div>
                                <div class="col-sm-2 ">@Html.DisplayNameFor(c => c.mer.First().Merchandise_Name)</div>
                                <div class="col-sm-2 col-sm-offset-1">@Html.DisplayNameFor(c => c.mer.First().merchandise_Volume)</div>
                                <div class="col-sm-2 col-sm-offset-1">@Html.DisplayNameFor(c => c.mer.First().Merchandise_Price)</div>
                            </div>
                            @foreach (var _mo in _model.mer)
                            {
                                <hr />

                                <div class="row">
                                    <div class="col-sm-2 col-sm-offset-2">@Html.DisplayFor(c => _mo.Merchandise_ID)</div>
                                    <div class="col-sm-2 ">@Html.DisplayFor(c => _mo.Merchandise_Name)</div>
                                    <div class="col-sm-2 col-sm-offset-1">@Html.DisplayFor(c => _mo.merchandise_Volume)</div>
                                    <div class="col-sm-2 col-sm-offset-1">@Html.DisplayFor(c => _mo.Merchandise_Price)</div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-------------------articleEnd------------------->
</article>