@model IEnumerable<CaptainMao.Areas.Admin.Models.SetAuthViewModel>

<h2>設置權限</h2>
<hr />


                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    權限設置
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MasterOfBoards)
                                </th>
                                <th>
                                    編輯
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                using (Html.BeginForm("EditAuth", "SetAuth", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    <tr>
                                        <td>
                                            
                                            @Html.EditorFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.EditorFor(modelItem => item.Name)
                                            <span class="badge" data-toggle="tooltip" title="@Html.DisplayNameFor(model => model.Experience)">
                                               @Html.EditorFor(modelItem => item.Experience)
                                            </span>
                                        </td>
                                        <td>
                                            <div class="row">@Html.DisplayNameFor(model => model.IsAdmin): @Html.EditorFor(modelItem => item.IsAdmin)</div>
                                            <div class="row">@Html.DisplayNameFor(model => model.IsMaster): @Html.EditorFor(modelItem => item.IsMaster)</div>
                                            <div class="row">@Html.DisplayNameFor(model => model.IsStore): @Html.EditorFor(modelItem => item.IsStore)</div>
                                            <div class="row">@Html.DisplayNameFor(model => model.IsNormal): @Html.EditorFor(modelItem => item.IsNormal)</div>
                                            <div class="row">@Html.DisplayNameFor(model => model.IsInactivated): @Html.EditorFor(modelItem => item.IsInactivated)</div>
                                        </td>
                                        <td>
                                            @Html.EditorFor(modelItem => item.Id, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(modelItem => item.MasterOfBoards, new { htmlAttributes = new { @class = "form-control" } })
                                        </td>
                                        <td>
                                            @*<a href=@Url.Action("EditAuth", "SetAuth", new { m=item }, "POST") title="修改">修改</a>
                                            @Html.ActionLink("修改", "EditAuth", "SetAuth", new { m=item },null)*@
                                            <button class="btn btn-info" type="submit">修改</button><button class="btn btn-default" type="reset">重設</button>
                                        </td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                
                


@section Style{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <style>
        div.container {
            max-width: 1200px
        }
    </style>
}

@section Script{
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
    <script type="text/javascript" class="init">
              $(document).ready(function () {
                  $('#example').DataTable({
                      responsive: true
                  });
              });
    </script>

}
