
@*@model IEnumerable<CaptainMao.Models.Hospital>*@
@{
    ViewBag.Title = "HospitalSearch";
    //Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<script>
    var HospitalID = 'int';
    function ChangeThisID(HospitalID) {

        $.ajax({
            url: "/Hospital/HospitalCRUD/UpDataGetHospital",
            type: "Post",
            data: { 'HospitalID': HospitalID},
            dataType: "text",
            traditional: true,
            success: function () {
                $('#_HospitalUPDate').load("/Hospital/HospitalCRUD/UpDataGetHospital", { "HospitalID": HospitalID});//路徑增加Hospital
            },
            error: function (XMLHttpRequest) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }
</script>

@*<h2>醫院列表</h2>*@

@*@foreach (var a in Model)
    {/*//顯示欄位 超連結*/
       }*@

<table class="table table-bordered table-hover" id="table1">
    <thead>
        <tr>
            @*<th>醫院編號</th>*@
            <th>醫院名稱</th>
            <th>醫院地址</th>
            <th>醫院區域</th>
            <th>醫院電話</th>
            <th>寵物種類</th>
        </tr>
    </thead>
    <tbody>
        @*Model 表示Controller傳過來的資料*@
        @foreach (var _category in Model)
        {
            
            <tr target=_blank onclick="ChangeThisID(@_category.HospitalID);">
                <td style="display:none">@_category.HospitalID</td>
                <td>@_category.HospitalName</td>
                <td>@_category.HospitalAddress</td>
                <td>@_category.AddressArea</td>
                <td>@_category.HospitalPhone</td>
                <td>@_category.CategoryList</td>
            </tr>
        }
    </tbody>
</table>
