
@*@model IEnumerable<CaptainMao.Models.Hospital>*@
@{
    ViewBag.Title = "HospitalSearch";
    //Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<style>
    label, th, td ,text,p{
        font-size: 20px; 
    }
</style>

@*<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">*@
@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">*@

<script>
    var HospitalID = 'int';
    function ChangeThisID(HospitalID) {

        $.ajax({
            url: "/Hospital/HospitalCRUD/UpDataGetHospital",
            type: "Post",
            data: { 'HospitalID': HospitalID},
            dataType: "text",
            traditional: true,
            success: function () {
                $('#_HospitalUPDate').load("/Hospital/HospitalCRUD/UpDataGetHospital", { "HospitalID": HospitalID});//路徑增加Hospital
            },
            error: function (XMLHttpRequest) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    $(document).ready(function () {
        $('#example').DataTable();
    });
    
</script>
    


@*<h2>醫院列表</h2>*@

@*@foreach (var a in Model)
    {/*//顯示欄位 超連結*/
       }*@


<table class="table table-bordered table-hover" id="example" name="example">
    <thead>
        <tr>
            @*<th>醫院編號</th>*@
            <th>醫院名稱</th>
            <th>醫院地址</th>
            <th>醫院區域</th>
            <th>醫院電話</th>
            <th>顯示狀態</th>
        </tr>
    </thead>
    <tbody>
        @*Model 表示Controller傳過來的資料*@
        @foreach (var _category in Model)
        {

            <tr target=_blank onclick="ChangeThisID(@_category.HospitalID);">
                <td style="display:none">@_category.HospitalID</td>
                <td>@_category.HospitalName</td>
                <td>@_category.HospitalAddress</td>
                <td>@_category.AddressArea</td>
                <td>@_category.HospitalPhone</td>
                <td>@_category.OnView</td>
            </tr>
        }
    </tbody>
</table>
