@*@model CaptainMao.Areas.Hospital.Models.ViewModel.HospitalModel*@
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_MaoLayout.cshtml";
}
<script>
    //function CheckThis() {
    //    ChangeList();
    //}

    function SelectThis() {
        var clicktbn = $('#HospitalCity').val();
        var clicktbnRace = $('#HospitalPetRace').val();

        $.ajax({
            url: "/Hospital/HospitalCRUD/_HospitalSearchCity",
            type: "POST",
            data: { 'CityID': clicktbn, 'CategoryID': clicktbnRace },
            dataType: "text",
            traditional: true,
            success: function (data) {
                $('#_HospitalCity').load("/Hospital/HospitalCRUD/_HospitalSearchCity", { "CityID": clicktbn, 'CategoryID': clicktbnRace });//路徑增加Hospital
            },
            error: function (XMLHttpRequest) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

</script>

<div>
    <aside class="col-lg-1 col-lg-offset-1 col-sm-1">
        <!-------------------asideOpen------------------->
        @Html.Partial("Aside")
        <!-------------------asideEnd------------------->
    </aside>
    <article class="col-lg-9 col-sm-11">
        <!-------------------articleOpen------------------->
        <div>
            <!--顏色請自己放在Css內 這只是樣板-->
            <div style="height:auto;background-color:#fff266" class="drawingpin" id="ShowMePlease" name="ShowMePlease">
                <div><input id="" type="button" value="查詢所有" onclick="" /></div>
                <div>
                    @Html.DropDownList("HospitalCity", (IEnumerable<SelectListItem>)ViewBag.HospitalCity)
                    @Html.DropDownList("HospitalPetRace", (IEnumerable<SelectListItem>)ViewBag.HospitalPetRace)
                    <input type="text" />
                    <input id="" type="button" value="搜尋" onclick="SelectThis()" />
                </div>
                <h2>醫院資料</h2>
                <div id="_HospitalCity" name="_HospitalCity"></div>
            </div>
            <div style="height:950px;background-color:burlywood" class="drawingpin">
                <div id="_HospitalUPDate" name="_HospitalUPDate"></div>

                <!--<form method="post" action="~/HospitalCRUD/UpDataHospital" class="form-horizontal">
                    @*<div class="form-group" style="display:none">
                            <label for="HospitalID" class="col-sm-2 control-label ">醫院編號</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="HospitalID" value="@Model.HospitalID" />
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label for="HospitalName"
                               class="col-sm-2 control-label">醫院名稱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="HospitalName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HospitalAddress"
                               class="col-sm-2 control-label">醫院地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="HospitalAddress" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddressArea"
                               class="col-sm-2 control-label">醫院區域</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("HospitalCity", (IEnumerable<SelectListItem>)@ViewBag.HospitalCity)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HospitalPhone"
                               class="col-sm-2 control-label">醫院電話</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="HospitalPhone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PetRace"
                               class="col-sm-2 control-label">寵物種類</label>
                        <div class="col-sm-10">
                             @Html.DropDownList("HospitalPetRace", (IEnumerable<SelectListItem>)@ViewBag.HospitalPetRace)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BusinessHours"
                               class="col-sm-2 control-label">營業時間</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="BusinessHours" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Emergency"
                               class="col-sm-2 control-label">急診時間</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Emergency" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OutpatientProject"
                               class="col-sm-2 control-label">專業科目</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="OutpatientProject" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Equipment"
                               class="col-sm-2 control-label">醫院設備</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Equipment" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WebAddress"
                               class="col-sm-2 control-label">醫院網址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="WebAddress" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OnlineConsultation"
                               class="col-sm-2 control-label">線上問診</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="OnlineConsultation" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OnView"
                               class="col-sm-2 control-label">OnView</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="OnView" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">修改</button>
                            <button type="submit" class="btn btn-default">刪除</button>
                        </div>
                    </div>

                </form>-->
            </div>
        </div>
        <!-------------------articleEnd------------------->
    </article>
</div>