
@model IEnumerable<CaptainMao.Models.Merchandise>
@{
    ViewBag.Title = "購買首頁";

}
@section style{
    <link href="~/Areas/buy/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Areas/buy/css/shoppingIndex.css" rel="stylesheet" />
}
<!--aside側欄 article主欄-->

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Action("Aside","Shopping")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <span class="col-lg-12">
        @Html.Action("Hot")
    </span>

    <div class="col-lg-12">
        <input />
        <button id="seachMer" Class="glyphicon glyphicon glyphicon-search btn btn-primary"></button>
        @Html.ActionLink(" ", "Index", "Shopping", new { @Class = "glyphicon glyphicon-th btn btn-primary" })
        @Html.ActionLink(" ", "Index_I", "Shopping", new { @Class = "glyphicon glyphicon-th-list btn btn-primary" })
    </div>
    <!-------------------articleOpen------------------->
    <div id="_container">
        @foreach (var _model in Model.OrderByDescending(x => x.Merchandise_Creatdate))
        {
            string url = "";
            try
            {
                if (_model.Merchandise_Photo.Length > 0)
                {
                    url = Url.Action("PixbyID", "zPublicFunction", new { id = _model.Merchandise_ID });
                }
            }
            catch
            {
                url = _model.Merchandise_Photo_Address;
            }
            <div class="drawingpin content_box" >
                 <img class="lazy img-thumbnail" data-original='@url'  />
                 <h4>@Html.ActionLink(_model.Merchandise_Name, "About", "Shopping", new { Merchandise_ID = _model.Merchandise_ID }, null)</h4>
                <h3>
                    @Html.DisplayFor(c => _model.Merchandise_Price)
                    <span class="btn1 pull-right">
                        @Html.ActionLink(" ", "About", "Shopping", new { Merchandise_ID = _model.Merchandise_ID }, new { @class = "btn btn-primary glyphicon glyphicon-align-justify" })
                        @Ajax.ActionLink(" ", null, "api/PublicAPI", new { Merchandise_ID = _model.Merchandise_ID, area = "" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }, new { @class = "btn btn-primary glyphicon glyphicon-shopping-cart" })
                    </span>
                </h3>

            </div>
        }
    </div>

    <!-------------------articleEnd------------------->
</article>



@section script{
    <!--aside-->
    <script src='@Url.Content("~/Areas/buy/js/sweetalert.min.js")'></script>
    <script src='@Url.Content("~/Areas/buy/js/ShoppingAside.js")' ></script>
    <script src='@Url.Content("~/Areas/buy/js/ShoppingIndex.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>
    <script src='@Url.Content("~/Areas/buy/js/masonry.pkgd.min.js")'></script>
    <script src='@Url.Content("~/Areas/buy/js/imagesloaded.pkgd.min.js")'></script>
    <script src='@Url.Content("~/Areas/buy/js/jquery.lazyload.js")'></script>
    <script>
        $(function () {
            $("#seachMer").click(function () {
                var seachMer = $(this).parent().children().first().val();
                var seachUrl = '@Url.Action("HotMer", "Shopping",new { seach = "seachMer"})'.replace("seachMer", seachMer);
                console.log(seachUrl);
                location.href = seachUrl;

            })
            if ('@TempData["ok"]' != '') {
                sweetAlert('@TempData["ok"]');
            }
        })


        $(function () {
            f_masonry();
            $("img").lazyload({
                effect: "fadeIn",
                failurelimit: 40,
                load: f_masonry,
            });
            function f_masonry() {
                $('#_container').imagesLoaded(function () {
                    $('#_container').masonry({
                        itemSelector: '.content_box',
                        columnWidth: 365,
                        singleMode: false,
                        animate: true
                    });
                });
            }
        });
    </script>

}