
@model IEnumerable<CaptainMao.Models.Merchandise>
@{
    ViewBag.Title = "Index";

}
@section style{
    <link href="~/Areas/buy/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Areas/buy/css/shoppingIndex.css" rel="stylesheet" />
    <style>
        #img1 {
            height:200px;
            width:100%;
        }
        h4 {
            text-align:justify;
            word-break:break-word;
            word-break:break-all;
        }
        h4 a{
            color:#000000;
        }
        h3 {
            color: #ca0c0c;
            font-size: 60px;
            font-family:Capture it;
            font-style:italic;
            padding-left:20px;
            position:relative;
        }
        .div1{
            min-width:400px;
        }
        .btn1 {
            position:absolute;
            right:0px;
            margin-right:30px;
            bottom:50px;
        }
    </style>
}
<!--aside側欄 article主欄-->

<aside class="col-lg-1 col-lg-offset-1 col-sm-1">
    <!-------------------asideOpen------------------->
    @Html.Action("Aside","Shopping")
    <!-------------------asideEnd------------------->
</aside>
<article class="col-lg-9 col-sm-11">
    <span class="col-lg-12">
        @Html.Action("Hot")
    </span>

    <div class="col-lg-12">
        <input />
        <button id="seachMer" Class="glyphicon glyphicon glyphicon-search btn btn-primary"></button>
        @Html.ActionLink(" ", "Index", "Shopping", new { @Class = "glyphicon glyphicon-th btn btn-primary" })
        @Html.ActionLink(" ", "Index_I", "Shopping", new { @Class = "glyphicon glyphicon-th-list btn btn-primary" })
    </div>
    <!-------------------articleOpen------------------->
    <div class="div1 col-lg-12">
        @foreach (var _model in Model.OrderByDescending(x => x.Merchandise_Creatdate))
        {
            string url = "";
            try
            {
                if (_model.Merchandise_Photo.Length > 0)
                {
                    url = Url.Action("PixbyID", "zPublicFunction", new { id = _model.Merchandise_ID });
                }
            }
            catch
            {
                url = _model.Merchandise_Photo_Address;
            }
            <div class="drawingpin col-md-4">
                <div class="row">
                    <div class="col-xs-12">
                        <img id="img1" src='@url' class="img-thumbnail" />
                    </div>
                </div>
                <div class="row">
                    <h4 class="col-xs-12">@Html.ActionLink(_model.Merchandise_Name, "About", "Shopping", new { Merchandise_ID = _model.Merchandise_ID }, null)</h4>
                </div>
                <div>
                    <h3 class="row">
                        @Html.DisplayFor(c => _model.Merchandise_Price)
                    </h3>
                    <span class="btn1">
                        @Html.ActionLink(" ", "About", "Shopping", new { Merchandise_ID = _model.Merchandise_ID }, new { @class = "btn btn-primary glyphicon glyphicon-align-justify" })
                        @Ajax.ActionLink(" ", null, "api/PublicAPI", new { Merchandise_ID = _model.Merchandise_ID, area = "" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success" }, new { @class = "btn btn-primary glyphicon glyphicon-shopping-cart" })
                    </span>
                </div>
            </div>
        }
    </div>

    <!-------------------articleEnd------------------->
</article>



@section script{
    <!--aside-->
    <script src='@Url.Content("~/Areas/buy/js/sweetalert.min.js")'></script>
    <script src='@Url.Content("~/Areas/buy/js/ShoppingAside.js")' ></script>
    <script src='@Url.Content("~/Areas/buy/js/ShoppingIndex.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")'></script>


    <script>

        $(function () {
            $("#seachMer").click(function () {
                var seachMer = $(this).parent().children().first().val();
                var seachUrl = '@Url.Action("HotMer", "Shopping",new { seach = "seachMer"})'.replace("seachMer", seachMer);
                console.log(seachUrl);
                location.href = seachUrl;

            })

            if ('@TempData["ok"]' != '') {
                sweetAlert('@TempData["ok"]');
            }
        })

    </script>

}