@model CaptainMao.Areas.Admin.Models.NormalUserDetailViewModel

@using (Html.BeginForm("Edit", "NormalUser", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12 col-sm-3 center">
            <span class="profile-picture">
                <img name="avatar2" id="UserPhotoPreview" class="editable img-responsive" src="@Model.Photo" alt="無圖片可供預覽" />
            </span>
            <input type="file" name="UserPhoto" id="UserPhoto" class="btn btn-sm btn-block btn-success" />
            
            <div class="space space-4"></div>

            <script>
    document.getElementById("UserPhoto").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("UserPhotoPreview").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
            </script>

            <div class="row" style="margin-top:30px;" >
                <div class="col-sm-12">
                    <input type="submit" value="修改資料" class="btn btn-block btn-lg" style="background-color:maroon; color:aliceblue">
                </div>
            </div>

        </div><!-- /.col -->

        <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
                <span class="middle">ID: @Model.Id</span>
            </h4>
            

            <div class="profile-user-info">

                <div class="profile-info-row">
                    <div class="profile-info-name"> 帳號 </div>
                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m => m.UserName)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 姓 </div>
                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m => m.LastName)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 名 </div>
                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m => m.FirstName)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 暱稱 </div>
                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m => m.NickName)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 註冊日期 </div>

                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m => m.DateRegistered)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 登入次數 </div>
                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m => m.LoginCount)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 上次登入 </div>

                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m=>m.LoginTime)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 經驗值 </div>
                    <div class="profile-info-value">
                        <span>@Html.EditorFor(m=>m.Experience)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 帳號鎖定功能 </div>

                    <div class="profile-info-value">
                        @{
                            if (Model.LockoutEnabled)
                            {
                                <label class="btn btn-success active">
                                    <span class="glyphicon glyphicon-ok"> 已開啟</span>
                                </label>
                            }
                            else
                            {
                                <label class="btn btn-default active">
                                    <span class="glyphicon glyphicon-remove"> 未開啟</span>
                                </label>
                            }
                        }
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 電子郵件 </div>
                    <div class="profile-info-value">
                        <a href="mailto:@Model.UserName" target="_blank">@Model.UserName</a>
                    </div>
                    <div class="profile-info-value">
                        @{
                            if (Model.EmailConfirmed)
                            {
                                <label class="btn btn-success active">
                                    <span class="glyphicon glyphicon-ok"> 已驗證</span>
                                </label>
                            }
                            else
                            {
                                <label class="btn btn-danger active">
                                    <span class="glyphicon glyphicon-alert"> 未驗證</span>
                                </label>
                            }
                        }
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 手機 </div>
                    <div class="profile-info-value">
                        <span>@Model.PhoneNumber</span>
                    </div>
                    <div class="profile-info-value">
                        @{
                            if (Model.PhoneNumberConfirmed)
                            {
                                <label class="btn btn-success active">
                                    <span class="glyphicon glyphicon-ok"> 已驗證</span>
                                </label>
                            }
                            else
                            {
                                <label class="btn btn-danger active">
                                    <span class="glyphicon glyphicon-alert"> 未驗證</span>
                                </label>
                            }
                        }
                    </div>
                </div>

            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

}


