@model IEnumerable<CaptainMao.Areas.Admin.Models.NormalUserViewModel>

<div class="row">
    <div class="col-sm-10">
        <h4>一般會員管理</h4>
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("新增會員", "Create", null, htmlAttributes: new { @class = "ui-button ui-widget ui-corner-all" })
    </div>
</div>
<hr/>

<table id="example" class="display nowrap" cellspacing="0"  width="100%">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistered)
            </th>
            <th>
                功能
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <img height="100" src="@item.Photo" alt="無圖片可供預覽" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegistered)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", "NormalUser", new { area = "Admin", id = item.Id }, new {  @class= "ui-button ui-widget ui-corner-all" }) 
                    @Html.ActionLink("詳細", "Details", "NormalUser", new { area = "Admin", id = item.Id }, new {@class = "ui-button ui-widget ui-corner-all" }) 
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@section Style{
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <style>
        div.container {
            max-width: 1200px
        }
    </style>
    }

@section Script{
       <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
        <script type="text/javascript" class="init">
              $(document).ready(function () {
                  $('#example').DataTable({
                      responsive: true
                  });
              });
        </script>

    }
