@*@model IEnumerable<CaptainMao.Models.Hospital>*@
@{
    ViewBag.Title = "HospitalSearch";
    //Layout = "~/Views/Shared/_MaoLayout.cshtml";
}

<script>
    var HospitalID = 'int';
    function ChangeThisID(HospitalID) { }
</script>
<style>
    label, th, td {
        font-size: 20px;
    }

    p {
        font-size: 20PX;
    }
</style>

<h1 style="color:#7c1010">醫院列表</h1>

@foreach (var a in Model)
{/*//顯示欄位 超連結*/
    @*<a href="@Url.Action("HospitalSearchValue",new { HospitalID = a.HospitalID })" target=_blank> @a.HospitalName</a>*@    }


<table class="table table-bordered table-hover" id="table1">
    <thead>
        <tr>
            @*<th>醫院編號</th>*@
            <th>醫院名稱</th>
            <th>醫院地址</th>
            <th>醫院電話</th>
            <th>專業科目</th>
            <th>營業時間</th>
        </tr>
    </thead>
    <tbody>
        @*Model 表示Controller傳過來的資料*@
        @foreach (var _category in Model)
        {
            <tr target=_blank onclick="location.href='@Url.Action("HospitalSearchValue", "Hospital", new { HospitalID = _category.HospitalID })'">
                <td style="display:none">@_category.HospitalID</td>
                <td>@_category.HospitalName</td>
                <td>@_category.HospitalAddress</td>
                <td>@_category.HospitalPhone</td>
                <td>@_category.OutpatientProject</td>
                <td>@_category.BusinessHours</td>
            </tr>
        }
    </tbody>
</table>

